import Api from './Api';

const env = 'dev'; // local | mock | dev | prod

const ARRAY = '[object Array]';
const OBJECT = '[object Object]';
const NULL = '[object Null]';
const UNDEFINED = '[object Undefined]';

function parseData(metadata: any, resData: any, path = '') {
    const metadataType = Object.prototype.toString.call(metadata);
    if (metadataType === NULL || metadataType === UNDEFINED) return resData;
    const resDataType = Object.prototype.toString.call(resData);
    const isResDataValid = resDataType !== NULL && resDataType !== UNDEFINED;
    const isResDataFitMeta = metadataType === resDataType;
    if (isResDataValid && !isResDataFitMeta && env !== 'prod') {
        console.warn(`type not match! info : ${path} is ${resDataType} , [api].ts defined it is ${metadataType}`);
    }
    let returnData: any;
    if (metadataType === ARRAY) {
        if (isResDataFitMeta) {
            returnData = resData.map((item: any, index: number) => parseData(metadata[0], item, `${path}[${index}]`));
        } else if (isResDataValid) {
            returnData = resData;
        } else {
            returnData = [];
        }
    } else if (metadataType === OBJECT) {
        returnData = {};
        if (isResDataFitMeta) {
            Object.entries(resData).forEach(([key, val]) => {
                if (Object.prototype.toString.call(metadata[key]) === UNDEFINED && env !== 'prod') {
                    console.warn(`${key} in ${path} is not defined in [api].ts`);
                }
                returnData[key] = parseData(metadata[key], val, `${path}['${key}']`);
            });
            // 反向检查 meta 里是否有 resData 没有的 key
            Object.entries(metadata).forEach(([key, val]) => {
                if (Object.prototype.toString.call(resData[key]) === UNDEFINED && env !== 'prod') {
                    console.warn(`${key} in meta but not in resData : ${path}`);
                }
            });
        } else if (isResDataValid) {
            returnData = resData;
        }
    } else {
        returnData = resData || metadata;
    }
    return returnData;
}

export const request = <T>({ method = 'get', url, localUrl, mockUrl, body = null, resultMeta }: Api) => {
    // 环境切换
    let reqMethod = method;
    let reqUrl = url;
    if (env === 'dev') {
        if (localUrl) {
            reqMethod = 'get';
            reqUrl = localUrl;
            console.warn(`using localUrl: ${localUrl}`);
        } else if (mockUrl) {
            reqUrl = mockUrl;
            console.warn(`using mockUrl: ${mockUrl}`);
        }
    }
    const apiParam = method === 'get' ? {
        params: body,
    } : {
        data: body,
    };

    return new Promise<T>((resolve, reject) => {
        // axios({
        //    method: reqMethod,
        //    url: reqUrl,
        //    ...apiParam,
        // }).then(res => {
        //     resolve(parseData(resultMeta, res.body, `${reqUrl} : `));
        // })
    });
};

export default request;
