/* eslint-disable no-trailing-spaces, max-len, camelcase */

export class {{apiFileName}} {
  {{#moreIndent}}  {{/moreIndent}}method: string;

  {{#moreIndent}}  {{/moreIndent}}url: string;

  {{#moreIndent}}  {{/moreIndent}}localUrl: string;

  {{#moreIndent}}  {{/moreIndent}}mockUrl: string;

  {{#moreIndent}}  {{/moreIndent}}body: any;

  {{#moreIndent}}  {{/moreIndent}}constructor(params: Param) {
    {{#moreIndent}}    {{/moreIndent}}this.method = '{{method}}';
    {{#moreIndent}}    {{/moreIndent}}this.url = '{{{url}}}';
    {{#moreIndent}}    {{/moreIndent}}this.localUrl = '{{{localUrl}}}';
    {{#moreIndent}}    {{/moreIndent}}this.mockUrl = '{{{mockUrl}}}';
    {{#moreIndent}}    {{/moreIndent}}this.body = params;
  {{#moreIndent}}  {{/moreIndent}}}
}
export default {{apiFileName}};

{{#paramsInterfaceList}}
interface {{interfaceName}} {
  {{#fieldList}}
  {{#moreIndent}}  {{/moreIndent}}{{key}}{{#isOptional}}?{{/isOptional}}: {{type}};
  {{/fieldList}}
}
{{/paramsInterfaceList}}
{{#resultInterfaceList}}
{{#isResultType}}export {{/isResultType}}interface {{interfaceName}} {
  {{#fieldList}}
  {{#moreIndent}}  {{/moreIndent}}{{key}}?: {{type}};
  {{/fieldList}}
}
{{/resultInterfaceList}}
