/* eslint-disable no-trailing-spaces, max-len, camelcase, no-use-before-define */
import Api from './Api';
import { rootPathBj } from '../services/xhr/config';

export class {{apiFileName}} extends Api {
  {{#moreIndent}}
    meta: any;

    constructor(params: {{paramInterface}}) {
        super({
            method: '{{method}}',
            url: `${rootPathBj}{{{url}}}`,
            {{#localUrl}}
            localUrl: '{{{localUrl}}}',
            {{/localUrl}}
            {{#mockUrl}}
            mockUrl: '{{{mockUrl}}}',
            {{/mockUrl}}
            body: params,
        });
        this.meta = {{resultMeta}};
    }
  {{/moreIndent}}
  {{^moreIndent}}
  meta: any;

  constructor(params: {{paramInterface}}) {
    super({
      method: '{{method}}',
      url: `${rootPathBj}{{{url}}}`,
      {{#localUrl}}
      localUrl: '{{{localUrl}}}',
      {{/localUrl}}
      {{#mockUrl}}
      mockUrl: '{{{mockUrl}}}',
      {{/mockUrl}}
      body: params,
    });
    this.meta = {{resultMeta}};
  }
  {{/moreIndent}}
}
export default {{apiFileName}};

{{#paramsInterfaceList}}
{{#isExport}}export {{/isExport}}interface {{interfaceName}} {
  {{#fieldList}}
  {{#moreIndent}}  {{/moreIndent}}{{key}}{{#isOptional}}?{{/isOptional}}: {{type}};
  {{/fieldList}}
}
{{/paramsInterfaceList}}
{{#resultInterfaceList}}
{{#isExport}}export {{/isExport}}interface {{interfaceName}} {
  {{#fieldList}}
  {{#moreIndent}}  {{/moreIndent}}{{key}}: {{type}};
  {{/fieldList}}
}
{{#isExport}}export {{/isExport}}const {{metaName}} = {
  {{#fieldList}}
  {{#moreIndent}}  {{/moreIndent}}{{key}}: {{{val}}},
  {{/fieldList}}
};
{{/resultInterfaceList}}

// 生成此文件所使用的 json 数据, 方便再次修改生成
// param json: {{{apiParamJSON}}}
// result json: {{{apiResultJSON}}}
